@font-face {
  font-family: "metropolisblack";
  src: font("metropolis-black-webfont.woff2") format("woff2"),
    font("metropolis-black-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "metropolisbold";
  src: font("metropolis-bold-webfont.woff2") format("woff2"),
    font("metropolis-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "metropolisextra_bold";
  src: font("metropolis-extrabold-webfont.woff2") format("woff2"),
    font("metropolis-extrabold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "metropolisextra_light";
  src: font("metropolis-extralight-webfont.woff2") format("woff2"),
    font("metropolis-extralight-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "metropolislight";
  src: font("metropolis-light-webfont.woff2") format("woff2"),
    font("metropolis-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "metropolismedium";
  src: font("metropolis-medium-webfont.woff2") format("woff2"),
    font("metropolis-medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "metropolisregular";
  src: font("metropolis-regular-webfont.woff2") format("woff2"),
    font("metropolis-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "metropolissemi_bold";
  src: font("metropolis-semibold-webfont.woff2") format("woff2"),
    font("metropolis-semibold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "metropolisthin";
  src: font("metropolis-thin-webfont.woff2") format("woff2"),
    font("metropolis-thin-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
